
    <div class="card mb-4 shadow-sm">
      <img class="bd-placeholder-img-card-img-top" width="100%" [src]="imagePath"/>
      <div class="card-body">
        <h1>{{name}}</h1>
        <p class="card-text">{{description}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-info space" routerLink="/det-prod">View</button>
          </div>
          <h1>${{price}} MXN</h1>
        </div>
      </div>
    </div>
  