<div class="fondo">
    <div class="contenedor" style="width: 55%; height: 80%;">
        <div class="row">
            <img class="bd-placeholder-img-card-img-top" width="38%" src="https://www.nutricarrito.com/21923-large_default/paleta-de-caramelo-lucas-muecas-sabor-chamoy-con-chile-en-polvo-24-g.jpg"/>
            <div class="info">
                <h1><b>PALETA DE CARAMELO</b></h1>
                <h2> $10 MXN </h2>
                <h2> COLOR : MORADO</h2>
                <button class="color" mat-fab color="warn" style="background: rgb(107, 39, 185);" aria-label="Example icon button with a delete icon"></button>
                <button class="color" mat-fab color="warn" style="background: rgb(255, 176, 49);" aria-label="Example icon button with a delete icon"></button>
                <button class="color" mat-fab color="warn" style="background: rgb(250, 77, 46);" aria-label="Example icon button with a delete icon"></button>
                <button class="color" mat-fab color="warn" style="background: rgb(137, 206, 58);" aria-label="Example icon button with a delete icon"></button>
                <button class="color" mat-fab color="warn" style="background: rgb(28, 116, 35);" aria-label="Example icon button with a delete icon"></button>
                <h2> TALLA </h2>
                <button type="button" class="btn btn-light">S</button>
                <button type="button" class="btn btn-light">M</button>
                <button type="button" class="btn btn-light">L</button>
                <button type="button" class="btn btn-light">XL</button>
            </div>
        </div>
        <div class="bot">
            <button type="button" class="btn btn-outline-warning" routerLink="/shop"> Agregar al carrito </button>
            <button type="button" class="btn btn-outline-warning" routerLink="/shop"> Cancelar </button>
        </div>
    </div>
</div>