<div class="fondo">
    <div class="contenedor" style="width: 55%; height: 80%;">
        <div class="row">
            <img class="bd-placeholder-img-card-img-top" width="40%" [src]="imagePath"/>
            <div class="info">
                <h1><b>{{Producto.name}}</b></h1>
                <h2> ${{Producto.price}} MXN </h2>
                <form [formGroup]="carritoForm" (ngSubmit)="carritoForm.valid" >
                    <div class="cant">
                        <div class="row">
                            <h2> CANTIDAD</h2>
                            <input class= "cantidad" type="number" value="1" min ="1" formControlName="quantity" [(ngModel)]="carrito.quantity">
                        </div>
                    </div>
                    <h2> COLOR: {{selectedColor}}</h2>
                    <button class="color" mat-fab color="warn" style="background: rgb(107, 39, 185);" (click)="color1()"></button>
                    <button class="color" mat-fab color="warn" style="background: rgb(255, 176, 49);" (click)="color2()"></button>
                    <button class="color" mat-fab color="warn" style="background: rgb(250, 77, 46);" (click)="color3()"></button>
                    <button class="color" mat-fab color="warn" style="background: rgb(137, 206, 58);" (click)="color4()"></button>
                    <button class="color" mat-fab color="warn" style="background: rgb(28, 116, 35);" (click)="color5()"></button>
                    <h2> TALLA: {{selectedSize}} </h2>
                    <button type="button" class="btn btn-light" (click)="sizeS()">S</button>
                    <button type="button" class="btn btn-light" (click)="sizeM()">M</button>
                    <button type="button" class="btn btn-light" (click)="sizeL()">L</button>
                    <button type="button" class="btn btn-light" (click)="sizeXL()">XL</button>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" (click)="changeVis()">
                        <label class="form-check-label" for="materialContactFormCopy"><b> PERSONALIZAR</b></label>
                    </div>
                    <div>
                        <input style="display:none" [style.display]="vis ? 'block' : 'none'" type="file" accept="image/png, image/jpeg" (change)="handleFileInput($event.target.files)">
                    </div>
                </form>
            </div>
        </div>
        <div class="bot">
            <button type="button" class="btn btn-outline-warning" (click)="checkUser()" > Agregar al carrito </button>
            <button type="button" class="btn btn-outline-warning" routerLink="/shop"> Cancelar </button>
        </div>
    </div>
</div>

<!-- <div class="fondo">
    <div class="contenedor" style="width: 55%; height: 80%;">
        <div class="row">
            <img class="bd-placeholder-img-card-img-top" width="38%" [src]="imagePath"/>
            <div class="info">
                <h1><b>{{Producto.name}}</b></h1>
                <h2> ${{Producto.price}} MXN </h2>
                <h2> COLOR:</h2>
                <button class="color" mat-fab color="warn" style="background: rgb(107, 39, 185);" aria-label="Example icon button with a delete icon"></button>
                <button class="color" mat-fab color="warn" style="background: rgb(255, 176, 49);" aria-label="Example icon button with a delete icon"></button>
                <button class="color" mat-fab color="warn" style="background: rgb(250, 77, 46);" aria-label="Example icon button with a delete icon"></button>
                <button class="color" mat-fab color="warn" style="background: rgb(137, 206, 58);" aria-label="Example icon button with a delete icon"></button>
                <button class="color" mat-fab color="warn" style="background: rgb(28, 116, 35);" aria-label="Example icon button with a delete icon"></button>
                <h2> TALLA </h2>
                <button type="button" class="btn btn-light">S</button>
                <button type="button" class="btn btn-light">M</button>
                <button type="button" class="btn btn-light">L</button>
                <button type="button" class="btn btn-light">XL</button>
            </div>
        </div>
        <div class="bot">
            <button type="button" class="btn btn-outline-warning" (click)="checkUser()"> Agregar al carrito </button>
            <button type="button" class="btn btn-outline-warning" routerLink="/shop"> Cancelar </button>
        </div>
    </div>
</div> -->