.cuenta{
    margin: 5% 0% 0% 0%;
    width: 100%;
    height: 100%;
}

.column {
    float: left;
    width: 50%;
    
}
  
.card-footer{
    margin-top: 0.5%;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

 /* Imagen */
img{
    width: 100%;
    height: 106%;
}

 /* Nombre, correo, etc */
h2{
    font-size: 25px;
    margin-top: 3%;
}

.conf{
    margin-bottom: 3%;

}

.cuenta h3{
    margin-left: 29.5%;
}

 /* Header Cuenta */
h1{
    font-size: 40px;
    width: 40%;
    margin: 2% 0% 3% 41%;
}

 /* Boton */
 button{
     margin-bottom: 10%;
     margin-left: 39.2%;
 }

 /* Elementos del contenedor de cuenta */

/* Nombre */
.nombre h2{
    margin-left: 12.8%;
}

.nombre mat-form-field{
    margin-left: 13%;
}

.nombre{
    margin-left: 0%;
}

.nameB{
    margin-right: 25%;
}

/* Contraseña */
.contra mat-form-field{
    margin-left: 13.7%;
}

.conf mat-form-field{
    margin-left: 25.5%;
}

.contra h2{
    margin-left: 10.4%;
}

.contra{
    margin-left: 15%;
}

.conf h2{
    margin-left: 7%;
}

.conf{
    margin-left: 2%;
}

.contrV{
    margin-left: 15%;
}

.contrV h2{
    margin-left: 12%;
}

.contrV mat-form-field{
    margin-left: 14.7%;
}

.passB{
    margin-top: 3%;
    margin-right: 25%;
}

/* Direcciones */

.card{
    margin-left: 7%;
}

.direc{
    margin-top: 0%;
    margin-left: 3%;
}

.direc h2{
    margin-left: 40%;
}

.direc h3{
    margin-top: 0%;
    margin-bottom: 0%;
}

.direc button{
    position: relative;
    left: 35%;
    margin-bottom: 3%;
}

.direc button:hover{
    color: white;
}

.añadir button{
    margin-left: 39.6%;
}

.cuenta button{
    margin-left: 41%;
}