<div class="row">
    <div class="column">
        <div class="card-footer" ></div>
        <div class="izq">
            <div class ="cuenta">
                <h1><b>CUENTA</b></h1>
                <h3> En esta sección puedes editar tu información</h3>
                <div class="nombre">
                    <h2>Nombre</h2>
                    <mat-form-field>
                        <input id="name" matInput formControlName="name" placeholder="Nombre">
                    </mat-form-field>
                </div>
                <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid">
                    <div class="contra">
                        <h2>Nueva contraseña</h2>
                        <mat-form-field>
                            <input id="password" matInput formControlName="password" placeholder="Contraseña" [(ngModel)]="user.password" type="password">
                        </mat-form-field>
                    </div>
                    <div class="conf">
                        <h2>Confirmar nueva contraseña</h2>
                        <mat-form-field>
                            <input id="passCon" matInput formControlName="passCon" placeholder="Contraseña" [(ngModel)]="user.passCon" type="password">
                        </mat-form-field>
                    </div>
                    <button type="submit" class="btn btn-warning" style="color: white;" [disabled]="!registerForm.valid" > Guardar cambios </button>
                </form>
            </div>
            <div class="card mb-4 shadow-sm" style="width: 90%; height: 17%;">
                <div class="direc">
                    <h2><b>DIRECCIONES</b></h2>
                    <h3> Circuito Paolo Oriente #34 </h3>
                    <h3> RINCONADA DE LA FORTUNA </h3>
                    <h3> SAN ANDRES, CHOLULA, PUEBLA</h3>
                    <h3> 72825 </h3>
                    <h3> 961 764 8723</h3>
                    <div class="añadir"><button type="button" class="btn btn-outline-warning" routerLink="/mis-direc"> Mis direcciones </button></div>
                    <button type="button" class="btn btn-outline-warning" routerLink="/direccionN"> Añadir dirección </button>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <img src="../../assets/img/cuenta2.png">
    </div>
</div>
