<div class="row">
    <div class="column">
        <div class="card-footer" ></div>
        <div class="izq">
            <div class ="cuenta">
                <h1><b>CUENTA</b></h1>
                <h3> En esta sección puedes editar tu información</h3>
                <div class ="column">
                    <form [formGroup]="nombreForm" (ngSubmit)="nombreForm.valid">
                        <div class="nombre">
                            <h2>Nombre</h2>
                            <mat-form-field>
                                <input id="name" matInput formControlName="newName" placeholder="Nombre" [(ngModel)]="name.newName">
                            </mat-form-field>
                        </div>
                        <div class="nameB">
                            <button type="submit" class="btn btn-warning" style="color: white;" [disabled]="!nombreForm.valid" (click)="updateUserName()" > Guardar cambios </button>
                        </div>
                    </form>
                </div>
                <div class="column" >
                    <form [formGroup]="changeForm" (ngSubmit)="changeForm.valid">
                        <div class="contrV">
                            <h2>Contraseña actual</h2>
                            <mat-form-field>
                                <input id="oldPass" matInput formControlName="oldPass" placeholder="Contraseña" [(ngModel)]="user.oldPass" [type]="hideOld ? 'password':'text'" >
                                <mat-icon matSuffix (click)="hideOld = !hideOld">{{hideOld? 'visibility': 'visibility_off'}}</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="contra">
                            <h2>Nueva contraseña</h2>
                            <mat-form-field>
                                <input id="password" matInput formControlName="password" placeholder="Contraseña" [(ngModel)]="user.password" [type]="hideCon ? 'password':'text'" >
                                <mat-icon matSuffix (click)="hideCon = !hideCon">{{hideCon? 'visibility': 'visibility_off'}}</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="conf">
                            <h2>Confirmar nueva contraseña</h2>
                            <mat-form-field>
                                <input id="passCon" matInput formControlName="passCon" placeholder="Contraseña" [(ngModel)]="user.passCon" [type]="hidePass ? 'password':'text'" >
                                <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass? 'visibility': 'visibility_off'}}</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="passB">
                            <button type="submit" class="btn btn-warning" style="color: white;" [disabled]="!changeForm.valid" (click)="updateUserPassword()"> Guardar cambios </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-4 shadow-sm" style="width: 90%; height: 17%;">
                <div class="direc">
                    <h2><b>DIRECCIONES</b></h2>
                    <div class="row row-col-2">
                        <div class="misDi" style="width: 250px;"><button type="button" class="btn btn-outline-warning" routerLink="/mis-direc"> Mis direcciones </button></div>
                        <div class="añadir" style="width: 250px;"><button type="button" class="btn btn-outline-warning" routerLink="/direccionN"> Añadir dirección </button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <img src="../../assets/img/cuenta2.png">
    </div>
</div>
