<body>
    <div class="card-p">
        <div class="card mb-4 shadow-sm" >
            <h2 class="Nombre"> María José Burguete </h2>
            <div class="row-4">
                <h3> Circuito Paolo Oriente #34 </h3>
                <h3> RINCONADA DE LA FORTUNA </h3>
                <h3> SAN ANDRES, CHOLULA, PUEBLA</h3>
                <h3> 72825 </h3>
                <h3> 961 764 8723</h3>
            </div>
            <div class="direcB">
                <button type="button" class="btn btn-warning"  style="font-size : 17px" style ="color : white" routerLink="/cuenta"> CAMBIAR DIRECCIÓN </button>
            </div>
            <div class="card-footer" >
                <div class="total" style="font-size: 20px;"><b> TOTAL </b></div>
                <h2 class="to">$300.00 MXN</h2>
                <button type="button" class="btn btn-outline-warning" style="font-size : 17px">CONFIRMAR COMPRA</button> 
            </div>
        </div>
    </div>
</body>
