<div class="row">
    <div class="info">
        <h3> {{street}} </h3>
        <h3> {{city}}, {{state}} </h3>
        <h3> {{country}}, {{zip_code}}</h3>
        <h3> {{phone_number}} </h3>
        <h3> {{instructions}}</h3>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="materialContactFormCopy">
        <div class="label">
            <label class="form-check-label" for="materialContactFormCopy">Determinar como dirección principal</label>
        </div>
    </div>
    <div class="icono">
        <button mat-fab color="warn" style="background: rgb(255, 181, 3);" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>