/*Direccion*/
.row{
    margin-left: 6.8%;
}

.row .info h3{
    margin-bottom: 0%;
}

.row .form-check{
    margin-top: 5%;
    margin-left: 3%;
}

.row .icono{
    margin-top: 3%;
}

/* Boton de regresar */
button{
    margin: 2% 3% 0% 85%;
}

button:hover{
    color: white;
}